*/__pycache__
*/*/__pycache__
venv
db.sqlite3
core/migrations/0009_alter_product_currency.py
satoshi_box/.env
core/migrations/0011_alter_product_currency.py
core/migrations/0010_auto_20210611_2203.py
