{% extends 'base.html' %}
{% load static %}



{% block content %}

<div class='container cnt'>

  <h2>{{object.product_name}}</h2>
  <h5 class='mt-3 text-left'>Product Description</h5>
  <div class="description rounded mb-3 mt-1">
    <p class='mt-1'>{{object.product_description}}</p>
  </div>

  <div class='row'>
    <div class='col-12  input-group'>
      <span class="input-group-text mr-3">BTC {{btc_price}}</span>
      <span class="input-group-text">$ {{btc_price}}</span>
      <div class='float-to-right'>
        <button type="submit" id='submitbtn' class="btn"><a href="{% url 'core:product_pay_buyer' object.uid%}?crypto=BTC"
          style="text-decoration:none;color:black;">I want this! </a></button>
          {% comment %} <button type="submit" id='submitbtn' class="btn"><a
          href="{% url 'core:product_pay_buyer' object.uid%}?crypto=BCH" style="text-decoration:none;color:black;">Buy
          in BCH -
          {{bch_price}}</a></button> {% endcomment %}
      </div>
    </div>
  </div>

</div>
{% endblock %}