{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='container cnt d-flex justify-content-center'>

    <div class="card m-4 col-xl-6 col-md-8 col-12 px-0">
        <div class="card-body">
        <h5 class="card-title mx-0">Your payment is being processed</h5>
        <p class="card-text mx-0">After we confirm payment status, you can download <b>{{payment.product.product_name}}</b> from this page.</p>

        <div class="mt-4">
            <p class="text-muted card-subtitle ml-0">Save the link below to come back to this page:</p>
            <div class="input-group copy-bar rounded">
                <input type="text" class="form-control rounded-left " value="{{download_uri}}" placeholder="Some path" id="copy-input" readonly>
                <button class="btn btn-rounded btn-info copy-btn" onclick="copy(event)">
                    <span id="copy-content">Copy to Clipboard</span>
                    <img id="copy-content" src="{% static 'svg/copy_white.png' %}" width=28px height=28px alt="Copy to clipboard">
                </button>
            </div>
        </div>
    </div>

</div>
{%csrf_token%}
{% endblock content %}
{% block js %}
<script type="text/javascript" src="{% static 'js/copy.js' %}"></script>
{% endblock js %}