{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/sell.css' %}">
{% endblock %}


{% block content %}

<div class='container mt-5'>
    <div class='card px-3'>
        <h1 class='p-4'>Your Product is now live at:</h1>
        <div class='px-5'>
            <div class="input-group copy-bar rounded">
                <input type="text" class="form-control rounded-left " value="{{public_uri}}" placeholder="Some path" id="copy-input"
                    readonly>
                    <button class="btn btn-rounded btn-info copy-btn" onclick="copy(event)">
                        <span id="copy-content">Copy to Clipboard</span>
                        <img id="copy-content" src="{% static 'svg/copy_white.png' %}" width=28px height=28px alt="Copy to clipboard">
                    </button>

            </div>
        </div>

        <div class="send-mail py-4 text-left w-75">
            <h5 class="py-1">
                Enter your email address to receive updates on payments or
                to withdraw received funds
            </h5>
            <div class="">
                <form class="input-group copy-bar" method="POST" action="{% url 'core:product_seller_email_updates'%}">
                    {% csrf_token %}
                    {% if object.email %}
                    <input type="email" class="form-control rounded-left" aria-label="Recipient's email" aria-describedby="button-addon2"
                        name="email" required value="{{object.email}}">
                    {% else %}
                    <input type="email" class="form-control rounded-left" aria-label="Recipient's email" placeholder="username@example.com"
                        aria-describedby="button-addon2" name="email" required>
                    {% endif %}
                    <button class="btn btn-rounded" type="submit" id="submitbtn">Send mail</button>
                </form>
                {% for error in errors %}
                    <div class="alert alert-danger">
                        <strong>{{ errors|escape }}</strong>
                    </div>
                {% endfor %}
            </div>

            {% comment %} <button class="go-live" type="submit" id='submitbtn' class='btn'><a style="text-decoration:none;color:black;"
                    href="{% url 'core:product_info_seller' object.token %}">Go Live!</a></button> {% endcomment %}

        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script type="text/javascript" src="{% static 'js/copy.js' %}"></script>
{% endblock js %}